<!DOCTYPE html>
<html>

<head>
    <title>Drug Interaction Checker - ClinRx ICU</title>
</head>

<body>

<h1>Drug Interaction Checker</h1>

<hr>

<h3>Medication Input</h3>

<label>Drug 1:</label>
<input type="text">

<br><br>

<label>Drug 2:</label>
<input type="text">

<br><br>

<button>Check Interaction</button>

<hr>

<h3>Result</h3>

<table border="1">

<tr>
    <th>Severity</th>
    <th>Interaction</th>
    <th>Risk</th>
    <th>Recommendation</th>
</tr>

<tr>
    <td>---</td>
    <td>---</td>
    <td>---</td>
    <td>---</td>
</tr>

</table>

</body>

</html>
