<!DOCTYPE html>
<html>

<head>
    <title>Vital Signs - ClinRx ICU</title>
</head>

<body>

<h1>Vital Signs Monitoring Dashboard</h1>

<hr>

<h3>Patient Monitoring</h3>

<table border="1">

<tr>
    <th>Parameter</th>
    <th>Value</th>
    <th>Status</th>
    <th>Clinical Action</th>
</tr>

<tr>
    <td>Blood Pressure</td>
    <td>---</td>
    <td>---</td>
    <td>Assess hemodynamic status</td>
</tr>

<tr>
    <td>MAP</td>
    <td>---</td>
    <td>---</td>
    <td>Evaluate vasopressor support</td>
</tr>

<tr>
    <td>Heart Rate</td>
    <td>---</td>
    <td>---</td>
    <td>Assess rhythm</td>
</tr>

<tr>
    <td>SpO2</td>
    <td>---</td>
    <td>---</td>
    <td>Evaluate respiratory status</td>
</tr>

<tr>
    <td>Temperature</td>
    <td>---</td>
    <td>---</td>
    <td>Assess infection/fever</td>
</tr>

</table>

<hr>

<h3>Clinical Pharmacist Assessment</h3>

<textarea rows="5" cols="50">
Add vital signs assessment...
</textarea>

<br><br>

<button>Save Monitoring Note</button>

</body>

  </html>
